<div style="margin:30px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 4px;">
    <table class="table table-hover">
        <tr>
            <td class="head">{{ 'header.menu.prod.nm'|trans }}</td>
            <td class="head">Description</td>
        </tr>
        {% if ( bilans | length >0) %}
            {% for bilan in bilans %}
                <tr class="desc">
                    <td class="bilan">{{ bilan.nomBilan }}</td>
                    <td class="bilan">{{ bilan.descBilan }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2">
                    <div class="cd-fail-message">{{ 'appointment.process.res'|trans }}</div>
                </td>
            </tr>
        {% endif %}
    </table>
</div>

<style>
    .head{
        background: #2980b8;
        color:white;
        font-size:16px;
    }
    .desc:nth-child(even){
        background:white;
    }
    .bilan{
        font-size: 14px;
    }

</style>