<form action="{{ path('photoGallerie') }}" method="post" class="contact_form row" {{ form_enctype(form) }}>
    <div class="cf_response"></div>
    {{ form_start(form) }}
    {{ form_end(form) }}
</form>